a {
    all: unset;
    cursor: pointer;
}

/* Webkit (Chrome, Safari) */
/* Note: Chrome, Safari, and newer Edge versions use Webkit properties. */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #558b2f;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #82c452;
}

body {
    /* Firefox */
    /* Note: Firefox uses the scrollbar-color property. */
    /* You may need to add !important to override Firefox's default styles. */
    scrollbar-color: #558b2f rgba(199, 184, 45, 0.1);
    scrollbar-width: thin;
}